#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Box-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 2rem;
  border-radius: 8px;
  border: 2px solid #ff812d;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); /* Ajusta según tu necesidad */
  width: 90%; /* Para pantallas pequeñas */
  max-width: 400px; /* Para pantallas más grandes */
  margin: auto;
}

body {
  background-color: #f5f5f5; /* Color de fondo base */
  background-image: radial-gradient(circle, #ff812d 10%, transparent 10%), radial-gradient(circle, #ff812d 5%, transparent 5%);
  background-size: 20px 40px; /* Tamaño del patrón de puntos */
  background-position: 0 0, 20px 20px; /* Desplazamiento de los puntos para crear el patrón */
  margin: 0;
  padding: 0;
}

.button-style {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  align-items: center;
  background-color: #2d53ff;
  
}

.button-style:hover {
  background-color: #1a40b8;
}